body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
}
footer{
  background-color: #606168;
  color: #fff;
  padding: 25px;
}

.container.services{
  margin-bottom: 50px;
}
.border-red{
  border: solid 1px #f2f2f2;
  border-radius: 0 0 20px 20px;
}
.border-red > p{
  border-top: solid 5px #7a1835;
  padding-top: 15px;
  text-align: center;
}
.container.services img,.container.about-us img, .container.services-index img{
  width: 100%;
}

.services .row{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
.services .row .col-6{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.row .col-md-4:last-child .border-red{
  background-color: #f2f2f2;
 }
 @media screen and (min-width: 768px) {
  .container.about-us .row{
    text-align: justify;
    display: flex;
    justify-content: center;
  }
  .container.about-us .row:not(:first-of-type){
    align-items: flex-end;
  }
}
.container.about-us .row,.container.services-index .row div{
  margin-bottom: 15px;
}

.container.about-us p{
  border-bottom: 4px solid #fff;
  padding-bottom: 10px;
}
.container.about-us .row div img{
  border-radius: 15px;
  border: #fff solid 5px;
}

.container.services-index .row .col-xs-6{
  position: relative;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.text-up{
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-weight: bold;
  z-index: 2;
}
.text-small{
  position: absolute;
  bottom: 0px;
  left: 30px;
  font-style: italic;
  z-index: 3;
}

.container.services-index .row .col-xs-6:before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 80px 0 0;
  height: 5px;
  top: 30px;
  left: 30px;
  border-radius: 5px;
  transition: all 1000ms ease-in-out; 
}

.container.services-index .row .col-xs-6 a::before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 80px 0 0;
  height: 5px;
  top: 30px;
  left: 30px;
  border-radius: 5px;
  transition: all 1000ms ease-in-out;
  z-index: 1;
}

.container.services-index .row .col-xs-6 a{
  color: #fff;
  display: block;
}

.container.services-index .row .col-xs-6 a::after{
  content: '';
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    background-color: rgba(96, 97, 104, 0.5);
}

.container.services-index .row .col-xs-6 a:hover::before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 315px 0 0;
  height: 5px;
  top: 30px;
  left: 30px;
  border-radius: 5px;
  transition: all 1000ms ease-in-out; 
  color: #606168
}
.container.services-index .row .col-xs-6 a:hover{
  color: #606168;
  display: block;
}
.container.services-index .row .col-xs-6 a:hover::after{
  content: '';
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 1000ms ease-in-out;
    opacity: 0.5;
}